doctype html(lang='en')
head
    link(rel='stylesheet', href='hex27.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    |  &#x9;
    title
    // <link rel="stylesheet" href="hex27.css">
    meta(charset='utf-8')
  | &#x9;
  body
    .containerTrans-bg
      .hexText
        h1
        h1 27. THE CORNERS OF THE MOUTH (PROVIDING NOURISHMENT)
        | &#x9;&#x9;
        h2
          | Give proper nourishment to yourself
          | and others
        | &#x9;&#x9;    
        p
          | The image of this hexagram is that of an open mouth.  It comes to remind us that the nourishement of our bodies and spirits is important and merits our conscientious attention
        | &#x9;&#x9;    
        p
          | The I Ching teaches us that if we with to gauge someone&apos;s character, we should notice what he nourishes in himself and in others...
        | &#x9;&#x9;    
        p The first counsel is that we should not focus our minds on desire...
        | &#x9;&#x9;    
        | &#x9;&#x9;&#x9;
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla at sapien quis fermentum. Nam eros tortor, mattis quis bibendum et, luctus in diam. Proin condimentum vehicula interdum. Nulla facilisi. In tristique imperdiet tellus id accumsan. Nullam sodales, ante non blandit tempor, nisi ante viverra odio, sit amet tincidunt libero elit in erat. Maecenas et odio arcu. In sed justo eleifend, pretium augue sed, ultrices risus. Proin vulputate, orci vitae dapibus elementum, erat est posuere quam, a imperdiet nulla ante in urna. Curabitur quis posuere metus.
        p
        | &#x9;&#x9;&#x9;
        p The final counsel is that we observe tranquility in speech, thought, and action.
