extends layout

block content
	.transparencyHolder.home
		.container.trans-bg.push-down
			.row
				.col-sm-10
					.titles
						h3.theFont The
						| &#x9;&#x9;
						h1.titleFont I Ching
						| &#x9;&#x9;
						| &#x9;&#x9;
						h3.orFont or
						| &#x9;&#x9; 
						| &#x9;&#x9;
						h3.secondTitleFont BOOK OF CHANGES
						| &#x9;&#x9;
						h3.guideFont A Guide to Life's Turning Points
						| &#x9;
			.button-container
				.form-group
					.col-sm-offset-2.col-sm-10
				a.howToButton.btn.btn-default(href="/howto") How to Consult the I Ching
						| &#x9;			
				.form-group
					.col-sm-offset-2.col-sm-10
				a.homeCoinTossButton.btn.btn-default(href="/cointoss") Ready for the Coin Toss
						| &#x9;

				.form-group
					.col-sm-offset-2.col-sm-10
				a.loginButton.btn.btn-default(href="/login") Login/Journal
				| &#x9;	
				//- p: a(href="/auth/logout") Log out
				//- .buttoncontainer
				//- 	.col-sm-offset-2.col-sm-10
				//- a.hexLessonButton.btn.btn-default(href="/hexLessons") Advice for this Hexagram


block scripts


					