//- extends layout

//- block content

h1 INTRODUCTION TO THE I CHING or BOOK OF CHANGES	

h2 How does the I Ching work?

	p We may ask the I Ching for specific advice on a situation at hand or for general guidance.  Formulating a "Should I..." question works well. There are no rules as to how often we consult the oracle, only the reminder that we must approach it with sincerity if we wish to benefit.

	p 1. Three coins are tossed simultaneously and the results are random.
	
	p 2. Heads are counted as three and tails are counted as two, and the total is derived.

	p 3. If the total of the coins is an even number, a line that is broken in the center is drawn.  If the total is an odd number, a solid line is drawn.  There is no 'good' or 'bad' result.  

	p 4. While concentrating on your question, toss the coins six times. Lines will be drawn, with each line drawn on top of the previous one.  A hexagram will be formed.  

	p 5. The hexagram refers to a specific piece of advice, which can also be thought of as a lesson.  You will be guided to the advice you seek once the hexagram is formed.

	p 6. There will be an option to create an account so that you may keep a journal of your results, as many enjoy keeping track of how the I Ching guides them and influences their view of the world.


h2 What is the I Ching?

	p On its surface, the I Ching (ee jing) is merely a book.  It is a very old book that has survived for thousands and thousands of years.  It is regarded as the foundation text for Chinese wisdom and philosphy. Beneath the surface, the Book of Changes is a living, breathing oracle;   a patient and all-seeing teacher who can be relied upon for flawless advice at every turning point in our lives. 

	p The I Ching acknowledges that that we all have in our characters both positive and negative elements and that there are are positive as well as negative influences outside of ourselves.  The I Ching teaches us to to be led by our superior qualities and how to respond to negative influences outside of ourselves.

h3 What must we bring to the I Ching?

	p We should approach the I Ching sincerely, putting aside our doubt and mistrust of the Unknown, with a willingness to reflect clearly upon our own charachter and to correct it when self-correction is advised.

	p Based on the text written by Brian Browne Walker, The I Ching or Book of Changes:  A Guide to Life's Turning Points (New York: St. Martin's Press, 1992).


	.form-group
			.col-sm-offset-2.col-sm-10
	a.coinTossButton.btn.btn-default(href="/cointoss") Ready for the Coin Toss
	a.backhome.btn.btn-default(href="/") Back to home page 
	a.coinTossButton.btn.btn-default(href="/login") Login/Journal









	