//- extends layout

//- block content

h1 this is how to Iching
	.form-group
			.col-sm-offset-2.col-sm-10
	a.coinTossButton.btn.btn-default(href="/cointoss") Ready for the Coin Toss
	a.backhome.btn.btn-default(href="/") Back to home page 
	a.coinTossButton.btn.btn-default(href="/login") Login/Journal