extends layout

block content

	p This is your journal

	a.toHomeButton.btn.btn-default(href="/home") Return to main page

	a.toCoinTossButton.btn.btn-default(href="/cointoss") Return to coin toss

	a.logoutButton.btn.btn-default(href="/logout") Logout of Journal

	p: a(href="/auth/logout") Log out