extends layout

block content
	.transparencyHolder.journal
		.container.trans-bg.push-down

				p JOURNAL

				a.toHomeButton.btn.btn-default(href="/home") TO MAIN PAGE

				a.toCoinTossButton.btn.btn-default(href="/cointoss") TO COIN TOSS

				a.logoutButton.btn.btn-default(href="/auth/logout") LOGOUT OF JOURNAL



