extends layout

block content
	.transparencyHolder.journal
		
		p JOURNAL

		.button-container

			a.toHomeButton.btn.btn-default(href="/home") TO MAIN PAGE

			a.toCoinTossButton.btn.btn-default(href="/cointoss") TO COIN TOSS

			a.logoutButton.btn.btn-default(href="/auth/logout") LOGOUT OF JOURNAL



