extends layout
block content
	.transparencyHolder.login
		.container.trans-bg.push-down
			.container.login-text
				p Login to your Journal
					form(action="/auth/login", method="post")
						input(type="text", name="username", placeholder="Username")
						input(type="password", name="password", placeholder="Password")
						input(type="submit")

				p Create an Account
					form(action="/auth/signup", method="post")
						input(type="text", name="username", placeholder="Username")
						input(type="email", name="email", placeholder="Email")
						input(type="password", name="password", placeholder="Password")
						input(type="submit")
				.login-button-container			
					a.toHomeButton.btn.btn-default(href="/home") Return to main page

					a.toCoinTossButton.btn.btn-default(href="/cointoss") Return to coin toss
