.question-container {
  text-align: left;
  margin-top: 10px;
  margin-right: 20px

}

.backHomeButton {
  margin-right: 30px;

}

.hexButtonContainer {
  margin-right: 30px;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
  padding: 18px 0px;
}

.displayBlock {
	display: none;
	margin: 10px auto;
  height:20px;
  width:171px;

}

.showHexButton {
  position: absolute;
}

.transparencyHolder {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;

}

.transparencyHolder.home {
  background-image: url('/images/koi-with-berries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transparencyHolder.cointoss {
  background-image: url('/images/koi-with-berries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transparencyHolder.lesson {
  background-image: url('/images/yellow-birds-maple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transparencyHolder.journal {
  background-image: url('/images/butterfly-flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transparencyHolder.howto {
  background-image: url('/images/koi-with-berries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.transparencyHolder.login {
  background-image: url('/images/koi-with-berries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.coinTossButton {
  display: block;
  margin: auto;
}

.portfolio-item {
	float:left;
	width:30%;
}

.titles{
	position: relative;
	left:400px;
	top:10px;
}

body{
	background-image: url('/images/koi-with-berries.jpg');
	background-repeat: no-repeat;

}/*Background for journal.jade*/

.bkimg-journal {
    background-image: url('/images/yellow-birds-maple.jpg');
    background-repeat: no-repeat;
}

.trans-bg{
	background-color: rgba(255, 255, 255, 0.9);
}

.trigramImages{
	padding:5px;
}

.push-down{
  /*margin-top: 50px;*/
}

/*Below begins the Animate.css Coin Flip*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', sans-serif;
  /*text-transform: uppercase;*/
}

.wrap {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
}
.wrap img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.wrap h1 {
  text-align: center;
  font-weight: normal;
  color: #464646;
  position: relative;
  font-size: 6em;
}
.wrap .butts {
  display: block;
  width: 300px;
  height: 100px;
  background: #3461b4;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 0;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  outline: none !important;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.wrap .butts span {
  position: relative;
  top: 20px;
  font-size: 2.5em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.butts:hover {
  width: 140px;
  height: 140px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.butts:hover span {
  top: 60px;
  font-size: 1em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 768px) {
  #regTitle {
    font-size: 2em;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .image img {
    width: 100px;
    height: 100px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}

          /*End Animate.css Coin Flip*/

/*.titles{

	position: absolute;
  	top: 10px;
  	left: 10px;
  	background-image: url("images/bridge.jpeg");
  	background-repeat: no-repeat;
  	width: 1000px;
  	height: 1000px;
  	background-size: 1000px 360px;
  	z-index: -1;*/

/*}
*/
	  


.theFont {
	font-family: Arnoldboecklin, fantasy;
	font-weight: bold;
}



.titleFont {
	font-family: Arnoldboecklin, fantasy;
	font-weight: bold;
	font-size: 8em;

}

.orFont {
	font-family: Arnoldboecklin, fantasy;
	font-weight: bold;

}

.secondTitleFont {
	font-family: Arnoldboecklin, fantasy;
	font-weight: bold;
  font-size: 3em;

}

.howtoFont {
  font-family: Arnoldboecklin, fantasy;
  font-weight: bold;

}

.guideFont {
	font-family: Arnoldboecklin, fantasy;
	font-style: italic;
	font-weight: bold;
}

.hexContainer {
	font-style: bold;
	position: fixed;
  bottom: 100px;
  height:150px;
  padding-top: 18px;
  

}

.hexButtonContainer {
  text-align: center;

}




